<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="template :: dochead">
</head>
<body>

	<div th:replace="template :: navigation"></div>

	<div class="container-fluid">

		<div class="row">
			<!-- this section should be designers information, profile pic, bio, about section -->

			<!-- col-md-offset-1  -->
			<div class="col-xs-12 col-sm-3">
				<div class="panel-body">
					<div class="row">
						<img th:src="@{/images/ImageHolder.jpg}" style="width: 100%;" />
						<div th:if="${editable}">
								<br />
								<button class="btn" data-toggle="modal" data-target="#imageModal">Edit</button>
	
								<!-- begin modal -->
								<!-- how can i make this so im only using code for one dynamic modal call? -->
								<div class="modal fade" id="imageModal" tabindex="-1" role="dialog"
									aria-labelledby="imageModal" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
	
											<form class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
	
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal">
														<span aria-hidden="true">&times;</span> <span
															class="sr-only">Close</span>
													</button>
													<h4 class="modal-title">Update Profile Pic</h4>
												</div>
	
												<div class="modal-body">
	
	
	
													<div class="form-group">
														<div class="col-sm-10">
															<img class="center-block" id="imagePreview" alt="Image Preview" width="100" height="100"/><br/>
															
															<input type="file" id="itemImage" name="profilePic"
																onchange="document.getElementById('imagePreview').src = window.URL.createObjectURL(this.files[0])"/>
														
														</div>
													</div>
	
	
	
												</div>
	
												<div class="modal-footer">
													<button type="button" class="btn btn-default"
														data-dismiss="modal">Close</button>
	
													<button type="submit" class="btn btn-primary"
														name="updatePic">Save changes</button>
												</div>
											</form>
	
	
										</div>
									</div>
								</div>
							<!-- end modal -->
							</div>
					</div>

					<hr />

					<div style="padding: 6px;">
						<div class="row">
							<div>
								<strong>Bio</strong>
							</div>
							<span th:text="${user.bio}"></span> 
							<div th:if="${editable}">
								<br />
								<button class="btn" data-toggle="modal" data-target="#bioModal">Edit</button>
	
								<!-- begin modal -->
								<!-- how can i make this so im only using code for one dynamic modal call? -->
								<div class="modal fade" id="bioModal" tabindex="-1" role="dialog"
									aria-labelledby="bioModal" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
	
											<form class="form-horizontal" role="form" method="post">
	
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal">
														<span aria-hidden="true">&times;</span> <span
															class="sr-only">Close</span>
													</button>
													<h4 class="modal-title">Update Bio</h4>
												</div>
	
												<div class="modal-body">
	
	
	
													<div class="form-group">
														<div class="col-sm-10">
															<textarea class="form-control" rows="3" name="updatedBio"
																th:text="${user.bio}"></textarea>
														</div>
													</div>
	
	
	
												</div>
	
												<div class="modal-footer">
													<button type="button" class="btn btn-default"
														data-dismiss="modal">Close</button>
	
													<button type="submit" class="btn btn-primary"
														name="updateBio">Save changes</button>
												</div>
											</form>
	
	
										</div>
									</div>
								</div>
							<!-- end modal -->
							</div>
						</div>

						<hr />

						<div class="row">
							<div>
								<strong>Follow Me</strong>
							</div>
							
							<div th:if="${editable}">
								<br />
								<button class="btn" data-toggle="modal" data-target="#bioSocial">Edit</button>
	
								<!-- begin modal -->
								
								<div class="modal fade" id="bioSocial" tabindex="-1"
									role="dialog" aria-labelledby="bioSocial" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
	
											<form class="form-horizontal" role="form" method="post">
	
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal">
														<span aria-hidden="true">&times;</span> <span
															class="sr-only">Close</span>
													</button>
													<h4 class="modal-title">Update Social Links</h4>
												</div>
	
												<div class="modal-body">
													<div class="form-group">
														<div class="col-sm-10">
															<textarea class="form-control" rows="3"
																name="updatedSocial"
																placeholder="This will currently only change your bio"></textarea>
														</div>
													</div>
												</div>
	
												<div class="modal-footer">
													<button type="button" class="btn btn-default"
														data-dismiss="modal">Close</button>
	
													<button type="submit" class="btn btn-primary"
														name="updateSocial">Save changes</button>
												</div>
	
											</form>
	
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-7">
				<!-- section that holds interface to create a post, should be hidden if not a active users profile -->
				<div class="row">
					<!-- a simple form for users to add new blog posts to their profile -->
					<div th:if="${editable}" class="login">
						<form name="addPost" method="POST">

							<textarea class="form-control" rows="3" name="postBody"
								placeholder="Whats the word"></textarea>
							<button class="btn btn-primary" name="newPost">post</button>

						</form>
					</div>
				</div>

				<br />
				<!-- this where the profile shows posts, most recent on top -->
				<div class="row">
					<div class="panel panel-default" th:each="post: ${posts}">
						<div class="panel-heading">

							<span class="panel-title" th:text="${post.created}"></span>
							
						</div>
						
						<div class="panel-body">

							<span class="profilePost" th:text="${post.body}"></span>

						</div>
						
						<div th:if="${editable}" class="panel-footer">
							<button class="btn" data-toggle="modal" data-target="#editPost"
								th:onclick="@{document.getElementById('post_ID').value = '} + ${post.uid} + @{'}">
								<span class="glyphicon glyphicon-pencil" aria-label="edit"></span>
							</button>

							<!-- begin modal -->
						
						</div>

						<br />
	
					</div>
					
					<div th:if="${editable}" class="modal fade" id="editPost" tabindex="-1"
								role="dialog" aria-labelledby="edit-post" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">

										<form class="form-horizontal" role="form" method="post">

											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">
													<span aria-hidden="true">&times;</span> <span
														class="sr-only">Close</span>
												</button>
												<h4 class="modal-title">Update Post</h4>
											</div>

											<div class="modal-body">
												<div class="form-group">
													<div class="col-sm-10">
														<textarea class="form-control" rows="3"
															name="updatedPost"></textarea>
													</div>
													
													<input type="text" value="none" id="post_ID" name="post_ID" hidden="true" />
												</div>
											</div>

											<div class="modal-footer">
												<button type="button" class="btn btn-default"
													data-dismiss="modal">Close</button>

												<button type="submit" class="btn btn-primary"
													name="updatePost">Save changes</button>
											</div>

										</form>

									</div>
								</div>
							</div>
				</div>
			</div>
		</div>
	</div>



</body>
</html>