<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="template :: dochead">
</head>
<body>

	<div th:replace="template :: navigation"></div>
	
	<div class="container-fluid">
		
		<div class="row">
			<!-- this section should be designers information, profile pic, bio, about section -->
			
			<!-- col-md-offset-1  -->
			<div class="col-xs-12 col-sm-3">
				<div class="panel-body">
					<div class="row">
						<img th:src="@{/images/ImageHolder.jpg}" style="width:100%;"/>
					</div>
					
					<hr/>
					
					<div style="padding: 6px;">
						<div class="row">
							<div><strong>Bio</strong></div>
						</div>
						
						<hr/>
						
						<div class="row">
							<div><strong>Follow Me</strong></div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-xs-12 col-sm-7">
						<!-- section that holds interface to create a post, should be hidden if not a active users profile -->
				<div class="row">
					<!-- a simple form for users to add new blog posts to their profile -->
					<div class="login">
						<form name="addPost" method="POST">
						
							<textarea class="form-control" rows="3" name="postBody" placeholder="Whats the word"></textarea>
							<button class="btn btn-primary"> post </button>
						
						</form>
					</div>
				</div>
				
				<br/>
						<!-- this where the profile shows posts, most recent on top -->
				<div class="row">
					 <div class="profilePost" th:each="post: ${posts}">
					 	
					 	<div class="well">
					 	
					 		<span th:text="${post.body}"></span>
					 	
					 	</div>
					 	
					 	<br/>
					 	
					 </div>
				</div>
			</div>
		</div>
	</div>



</body>
</html>